html {
    padding: 0px;
}
body {
    padding: 0px;
    font: 14px 'Duru Sans', sans-serif;
}
.index {
    margin: 10px 0px;
    width: 100%;
    text-align: center;
}




.index .logo {
    text-align: center;
    height: 407px;
    width: 628px;
    margin: 0px auto;
    background-image:url('/img/logo.png');
    background-repeat: no-repeat;
}
.index .logo  img{
    padding: 220px 0px 0px 0px;
}
.index .fb-login-button{

    margin-left: 170px ;

}
.chatbase {
	background-color: #B8E4EF;
    position: absolute;
	height: auto;
	right: 10px;
	top: 5px;
	bottom: 40px;
	width: 22%;
	display: block;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding-top:10px;
    padding-left:10px;
    padding-bottom:10px;
    padding-right:10px;

}
.gallery {
	background-color: #E4F4F8;
	position: absolute;
	height: auto;
	left: 10px;
	top: 45px;
	bottom: 40px;
	width: 73%;
	display: block;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding-top:10px;
    padding-left:10px;
    padding-bottom:10px;
    padding-right:10px;
}
.file_upload{
   width: 300px;
    height: 28px;
    font-size: 18px;
    font-weight: normal;
    border: 1px solid #2B84B3;
    color: #2B84B3;
    cursor: pointer;
    font-family:"Open Sans", "lucida grande", "Segoe UI", arial, verdana, "lucida sans unicode", tahoma, sans-serif;
    border-radius: 3px;
}
.button_upload{
    background: -webkit-gradient(linear, left top, left bottom, from(#2B84B3), to(#3B5898));
    width: 225px;
    height: 32px;
    font-size: 16px;
    font-weight: normal;
    border: 1px solid #2B84B3;
    color: white;
    cursor: pointer;
    border-radius: 3px;
}
.title{
    width:130px;

}
.location{
    width:130px;

}
.button_Post_Status{
    width: 100px;
    background: -webkit-gradient(linear, left top, left bottom, from(#2B84B3), to(#3B5898));
    height: 22px;
    font-size: 16px;
    font-weight: normal;
    border: 1px solid #2B84B3;
    color: white;
    cursor: pointer;
    border-radius: 3px;

}
.button_send{
    width: 100px;
    background: -webkit-gradient(linear, left top, left bottom, from(#2B84B3), to(#3B5898));
    height: 22px;
    font-size: 16px;
    font-weight: normal;
    border: 1px solid #2B84B3;
    color: white;
    cursor: pointer;
    border-radius: 3px;


}